
mccv_data/NN_sigmoid_1_100_0.1_0.1/cross_matrix_temp.csv
mccv_data/NN_sigmoid_1_100_0.1_0.1/detailed_score_temp.csv
mccv_data/NN_sigmoid_1_100_0.1_0.1/probability_temp.csv
mccv_data/NN_sigmoid_1_100_0.1_0.1/total_score_temp.csv
results/shallow_sigmoid_ns.csv
results/pca_shallow_sigmoid_ns.csv
results/pca_over_shallow_sigmoid_ns_1.csv
results/pca_over_shallow_sigmoid_ns.csv
